src/main/resources/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="message-meta-dataType">
        <xs:sequence>
            <xs:element type="xs:string" name="msg-no"/>
            <xs:element type="accountId" name="accountId" minOccurs="0"/>
            <xs:element type="xs:string" name="direction"/>
            <xs:element type="xs:string" name="received"/>
            <xs:element type="xs:string" name="uuid"/>
            <xs:element type="peppol-headerType" name="peppol-header"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="accountId">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="peppol-headerType">
        <xs:sequence>
            <xs:element type="xs:string" name="sender"/>
            <xs:element type="xs:string" name="receiver"/>
            <xs:element type="xs:string" name="channel"/>
            <xs:element type="xs:string" name="document-type" minOccurs="0"/>
            <xs:element type="xs:string" name="document-id"/>
            <xs:element type="xs:string" name="process-name" minOccurs="0"/>
            <xs:element type="xs:string" name="process-id"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="messageType">
        <xs:sequence>
            <xs:element type="xs:string" name="self"/>
            <xs:element type="xs:string" name="xml-document"/>
            <xs:element type="message-meta-dataType" name="message-meta-data"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="messagesType">
        <xs:sequence>
            <xs:element type="messageType" name="message" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>