src/main/resources/xsd/inbox-query-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="common.xsd"/>
    <xs:element name="inbox-query-response" type="inbox-query-responseType"/>

    <xs:complexType name="inbox-query-responseType">
        <xs:sequence>
            <xs:element type="messagesType" name="messages"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
</xs:schema>