src/main/resources/xsd/outbox-post-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="common.xsd"/>
  <xs:element name="outbox-post-response" type="outbox-post-responseType"/>
  <xs:complexType name="outbox-post-responseType">
    <xs:sequence>
      <xs:element type="messageType" name="message"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
</xs:schema>