src/main/resources/xsd/queued-messages-send-result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queued-messages-send-result" type="queued-messages-send-resultType"/>
  <xs:complexType name="queued-messages-send-resultType">
    <xs:sequence>
      <xs:element type="xs:int" name="succeededCount" minOccurs="0"/>
	  <xs:element type="xs:int" name="skipped" minOccurs="0"/>
	  <xs:element type="failedType" name="failed" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="failedType">
        <xs:sequence>
            <xs:element type="errormessageType" name="message" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
  <xs:complexType name="errormessageType">
        <xs:sequence>
            <xs:element type="xs:string" name="queueId"/>
            <xs:element type="xs:string" name="errorMessage"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>